.container {
    width:auto;
    height: width;
    background-color:#e0e0e0;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

containers {
    display: flex;
}

.conatainers .container__item {
    margin: 15px;
}

.context-menu {
    position: fixed;
    border: 1px solid black;
    background-color: white;
}
