.container {
    width:48px;
    height: 48px;
    background-color:#2F3136;
    color: #F3FFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    align-self: center;
}

.container a {
    color: #F3FFFF;
    text-decoration: none;
}

.container:hover {
    transition: border-radius .5s, background-color .25s;
    background-color: #5865F2;
    border-radius: 25%;
}

containers {
    display: flex;
}


.context-menu {
    position: fixed;
    border: 1px solid black;
    background-color: white;
}
