
.modaltitle {
    margin:0px 0px 15px 0px;
    padding:0px 0px 0px 0px;

}

.scroll {
    overflow-y: scroll;
    height: 290px;
    width: 310px;
}



.channel__context {
    grid-area: channel_context;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}
.general_bar_content_name{

    justify-content: flex-start;
}

.general_bar_content_button{

    justify-content: flex-end;
}

.Topbar_Buttons{
    display:flex;
    justify-content: space-evenly;
    margin-right: 30px;
    align-items: center;
}

.General_Button{
    padding: 0px 15px 0px 15px;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgb(54,57,63);
    color: #b9bbbe;
}
